body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,87,84,1) 0%, rgba(165,90,170,1) 59%, rgba(215,255,0,1) 100%, rgba(87,170,129,1) 100%);
    font-weight: bold;
    font-size: 1rem;
    
}
th {
  font-size: 1.4rem;
}
tr {
  font-size: 1rem;
}